<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Error</title>
    <!-- Font Awesome icons (free version)-->
    <link rel="stylesheet" th:href="@{/vendor/bootrap/css/bootstrap.min.css}" href="../../static/vendor/bootrap/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/vendor/bootrap/css/mdb.min.css}" href="../../static/vendor/bootrap/css/mdb.min.css">


    <link th:href="@{/css/errorPages/403errorPage.css}" href="../../static/css/errorPages/403errorPage.css" rel="stylesheet">
</head>
<body>
<h1>403</h1>
<div><p>> <span>ERROR CODE</span>: "<i>HTTP 403 Forbidden</i>"</p>
    <p>> <span>ERROR DESCRIPTION</span>: "<i>Access Denied. You Do Not Have The Permission To Access This Page On This
        Server</i>"</p>
    <p>> <span>ERROR POSSIBLY CAUSED BY</span>: [<b th:text="${message}">execute access forbidden, read access forbidden, write access
        forbidden, ssl required, ssl 128 required, ip address rejected, client certificate required, site access denied,
        too many users, invalid configuration, password change, mapper denied access, client certificate revoked,
        directory listing denied, client access licenses exceeded, client certificate is untrusted or invalid, client
        certificate has expired or is not yet valid, passport logon failed, source access denied, infinite depth is
        denied, too many requests from the same client ip</b>...]</p>
    <p>> <span>SOME PAGES ON THIS SERVER THAT YOU DO HAVE PERMISSION TO ACCESS</span>: [<a th:href="@{/}">Home Page</a>...]</p>
    <p>> <span>HAVE A NICE DAY SIR AXLEROD :-)</span></p>
</div>

<a class="avatar" th:href="@{/}"
        th:src="@{https://www.superior-alarm.com/wp-content/uploads/2016/11/house-png-202.png}"/></a>

<script th:src="@{/js/403error.js}" src="../../static/js/403error.js"></script>
</body>
</html>