<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <link rel="stylesheet" th:href="@{/vendor/bootrap/css/bootstrap.min.css}" href="../../static/vendor/bootrap/css/bootstrap.min.css">
    <link th:href="@{/css/errorPages/500style-error-page.css}" href="../../static/css/errorPages/500style-error-page.css" rel="stylesheet">
</head>
<body>
<div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
    <spaguetti>
        <fork></fork>
        <meat></meat>
        <pasta></pasta>
        <plate></plate>
    </spaguetti>
</div>
<a th:href="@{/}" href="#" class="btn btn-dark-green">Homepage</a>
<script th:src="@{/js/error.js}" src="../../static/js/error.js"></script>
</body>
</html>