td {
    font-size: smaller;
    text-align: center;
    border-style: outset;
    padding: 0 4px;
}

tr:hover td {
    background: indianred;
}

tr:hover .less {
    background: none;
}

th {
    text-align: center;
    border-style: outset;
    padding: 0 4px;
}

table {
    table-layout: auto;
}

.less {
    border: none;
}

button {
    background: linear-gradient(-45deg, red, orange, darkred);
    border-radius: 11px;
    padding: 4px 4px;
}