/* The dropdown container */
.dropdown112 {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown112 .dropbtn112 {
    color: #fff !important;
    font-weight: 600;
    text-align: left;
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content112 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content112 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content112 a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown112:hover .dropdown-content112 {
    display: block;
}

.btn-selectT {
    background: linear-gradient(-45deg, #7061c7, #0070bd, #cc99b2);
    background-color: #cc99b2;
    color: white;
    border-radius: 0 15px 0 15px;
    padding: 7px 30px;
}

.btn-select:hover {
    color: #fff;
    background: linear-gradient(to right, #1723b1, #58f0ff);
    border-color: #6c757d;
}