/*Manage Insurances*/

.nflCC a, .mlb a, .nhl a, .pga a {
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.nflCC a {
    color: #4fc0d2;
}

.nflCC a:hover {
    color: #268695;
}

/* wrapper */
.wrapper {
    width: 100%;
    padding-bottom: 7px;
    background: linear-gradient(-45deg, #7061c7, #0070bd, #cc99b2);
    color: white;
    overflow: hidden;
    position: relative;
    border-radius: 0 15px 0 15px;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-radius: 15px;
    border: 4px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    padding: 4px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-radius: 15px;
    border: 4px solid #dc3545;
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    padding: 4px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px palevioletred;
}

.btn-danger:hover {
    color: #fff;
    background-color: palevioletred;
    border-color: #e83e8c;
}

.secon {
    color: #fff;
    background-color: #6c757d;
    border-radius: 15px;
    border: 4px solid #6c757d;
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    padding: 4px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6c757d;
}

.secon:hover {
    color: #fff;
    background-color: lightslategrey;
    border-color: #6c757d;
}

.btn-info {
    padding: 4px 30px;
    color: #fff;
    background-color: orangered;
    border-radius: 15px;
    border: 4px solid deepskyblue;
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    padding: 4px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6c757d;
}

.btn-info:hover {
    color: #fff;
    background-color: royalblue;
    border-color: #6c757d;
}

.btn-selectT {
    background: linear-gradient(-45deg, #7061c7, #0070bd, #cc99b2);
    background-color: #cc99b2;
    color: white;
    border-radius: 0 15px 0 15px;
    padding: 7px 30px;
}

.btn-select:hover {
    color: #fff;
    background: linear-gradient(to right, #1723b1, #58f0ff);
    border-color: #6c757d;
}

.rowCC ul li {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
}

/* rows */
.rowCC {
    height: 35px;
    font-size: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.rowCC:hover {
    background: linear-gradient(-45deg, #7061c7, #0070bd, #cc99b2);
    height: 250px;
}

.titleCC {
    padding: 15px 0 5px 0;
    height: 45px;
    text-align: center;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.titleCC:hover {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.nflCC {
    border-left: 3px solid #1c616c;
    text-align: center;
    padding: 8px 0 0 0;
}

.nflCC:hover {
    border-left: 3px solid #4fc0d2;
}

/* more content */
ul.more-contentCC li {
    position: relative;
    top: 10px;
    font-size: 16px;
    margin: 0;
    padding: 5px 13px;
    display: inline;
    width: 100%;
    color: white;
}

#fs h4, #sec h4, #thr h4, #fr form, #fft form {
    display: inline;
    font-size: 15px;
    text-align: left;
}

/*SEARCH BAR*/
.searchCC {
    width: 35%;
    position: relative;
    display: flex;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: linear-gradient(-45deg, #7061c7, #cc99b2);
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px 0 15px 0;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    outline: none;
    color: black;
    border-radius: 15px 15px 0 0;
}

.searchTerm:focus {
    color: black;
}

/*DROPDOWNS*/
.nextEA {
    float: left;
}

.dropDownMen {
    padding-left: 33px;
    background: black;
}

.form-controlCC {
    box-shadow: none !important;
    border: none;
    border-radius: 15px 0 15px 0;
    margin: 20px 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    /*position: absolute;*/
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}