body {
    font-family: Arial, Helvetica, sans-serif;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    /*position: absolute;*/
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

td {
    font-size: smaller;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding: 0 4px;
}

tr:hover td {
    background: teal;
}

tr:hover .less {
    background: none;
}

th {
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding: 0 4px;
}

table {
    table-layout: auto;
}

.less {
    border: none;
}

/*button {*/
/*    background: linear-gradient(-45deg, red, orange, darkred);*/
/*    border-radius: 11px;*/
/*    padding: 4px 4px;*/
/*}*/
.bs-example {
    margin: 20px;
}

.row {
    display: inline;
}

.accordion .card {
    background: rgba(500, 1000, 500, 0.3);
}

.btn-link {
    color: white;
}

#heading {
    display: grid;
}

.collapse {
    display: flex;
}

#status {
    margin-left: 85%;
}

.card-body2 {
    margin-left: 30%;
}

/*} .card-body3{*/
/*      margin-left: 30%;*/
/*  }*/
.attribute {
    display: flex;
}