/*
* Template Name: Webiz
* Template URI: https://www.salvatoremandis.it
* Description: Webiz Digital Agency - Responsive Bootstrap Template
* Author: Salvatore Mandis
* Author URI: https://www.salvatoremandis.it
*/
*{margin: 0;padding: 0;}
body{font-family: sans-serif;background-color: #888;-webkit-font-smoothing: antialiased;}
#nav-bar{position: sticky;top: 0;z-index: 10;}
.navbar{background: linear-gradient(to right, #1723b1,#58f0ff);padding: 0 !important;}
/* Logo resize */
.navbar-brand img{height: 4rem;padding-left: 3rem;}
.navbar-nav{margin-right: 3rem;}
.navbar-nav li{padding: 0 1rem;}
.navbar-nav li{padding: 0 1rem;}
.navbar-nav .nav-item .nav-link{color: #fff !important; font-weight: 600; float: right; text-align: left;}
.navbar-nav .nav-item .nav-link:hover{color: #1723b1!important;}
.fa-bars{color: #fff !important; font-size: 25px !important;}
.navbar-toggler{outline: none !important;}
/* --------- Banner ---------- */
.banner{background: linear-gradient(to right, #1723b1,#58f0ff);color: #fff; padding-top: 5%;}
.promo-title{font-size: 3rem; font-weight: 600; margin-top: 1em;}
.join-title{font-size: 1.44rem;}
.link-play{text-decoration: none;}
.link-play:hover{color: #58f0ff;text-decoration: none!important;}
.play-btn{width: 45px;margin: 20px 0;margin-right: 3em;text-decoration: none !important;transition: transform 1.2s;}
.play-btn:hover{color: #444;text-decoration: none!important;transform: scale(1.2);}
.banner a{color: #fff; text-decoration: none!important;}
.img-fluid{margin-top: 4rem;}
.bottom-img{width: 100%; padding-top: 13%}
/* ---------- Services --------- */
#services{padding: 50px 0;}
.service-img{width: 130px; margin-top: 2rem;}
.services{padding: 20px;}
.services h4{padding: 1em; margin-top: 5px; text-transform: uppercase;}
/*.title::after{*/
/*  content: '';*/
/*  background: linear-gradient(to right, #1723b1,#58f0ff);*/
/*  height: 8px;*/
/*  width: 50px;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  display: block;*/
/*  border-radius: 70px;*/
/*  transform: translateY(23px);}*/
#services .btn-primary{
  box-shadow: none;
  padding: 8px 25px;
  border: none; border-radius: 20px;
  background: linear-gradient(to right, #1723b1,#58f0ff);
  transition: transform 1.2s;
}
#services .btn-primary:hover{transform: scale(1.2);}
/* -----------   About -------------*/
#about{background-color: #f8f9fa; padding-bottom: 3rem; padding-top: 3rem;}
.about-title{font-size: 1.6em; margin-top: 8%; font-weight: 600;}
#about ul li{margin: 10px 0;}
#about ul{margin-left: 20px;}
/* ------- Testimonials Section -----*/
#testimonials{margin: 100px 0;}
.testimonials{border-left: 3px solid #1723b1; margin: 50px 0;}
.testimonials img{height: 60px;width: 60px;border-radius: 50%; margin: 0 10px;}
.user-details{display: inline-block;font-size: 12px;}
.feedback{font-style: italic;}
/* ----- Footer ------*/
#footer{background: linear-gradient(to right, #1723b1,#58f0ff); color: #fff;}
.footer-img{width: 100%;}
.footer-box{padding: 20px;}
.footer-box img{width: 4rem; margin-bottom: 20px;}
.footer-box .fa{
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  display: inline-block;
}
.footer-box .form-control{box-shadow: none !important; border: none; border-radius: 0; margin: 20px 0;}
.footer-box .btn-primary{
  box-shadow: none !important;
  width: 8rem;
  border: none; border-radius: 50px;
  background: linear-gradient(to right, #1723b1,#58f0ff);
  color: #fff;transition: transform 1.2s;
}
.footer-box .btn-primary:hover{transform: scale(1.2); color: #fff;}
/*-------- Social Media icons ---------- */
#social p{font-weight: 600; font-size: 16px; margin-top: 20px;}
#social .social-icons .svg-icons img{width: 23px;transition: transform .7s;margin-right: 1rem;}
#social .social-icons .svg-icons img:hover{transform: scale(1.2);}
.copyright{padding-top: 2%; font-size: 15px;}
.copyright a{text-decoration: none;color: #fff;}
.copyright a:hover{text-decoration: none;color: #1723b1;}





* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #175690;
    font-family: 'open sans', sans-serif;
}
.forms {
    background: #fff;
    box-shadow: 0 0 3px #000;
    margin: 30px auto;
    max-width: 500px;
    /*overflow: hidden;*/
    position: relative;
    padding: 0;
}
.forms h1 {
    padding: 0 0 20px 0;
    font-size: 26px;
    color: #666;
    font-weight: lighter;
    text-align: center;
}
.forms form { padding: 30px; }
#signup { display: none; }
.forms .tab-group {
    list-style: none;
    padding: 0;
    margin: 0;
}
.forms .tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.forms .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: #e5e6e7;
    color: #888;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    border-top: 3px solid transparent;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.forms .tab-group li a:hover {
    background: #dedfdf;
    color: #666;
}
.forms .tab-group .active a {
    background: #fff;
    color: #444;
    border-top: 3px solid #73cf41;
}
.forms input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 0;
    margin-bottom: 10px;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.forms input:focus {
    outline: 0;
    border-color: #2e5ed7;
}
.forms label {
    font-size: 16px;
    font-weight: normal;
    color: #666;
    margin-bottom: 5px;
    display: block;
}
.forms .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #73cf41;
    color: #ffffff;
    cursor: pointer;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.forms .button:hover, .button:focus { background: #56ae26; }
.text-p { text-align: right; }
.text-p a { color: #1383ea; }

.one-line{
    display: flex;
    justify-content: center;
}

.styling {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    /* height: 150px;
    overflow: auto; */
}
.car-insurance-header{
    text-align: center;
}
.calculate-premium-button{
    justify-content: center;
}
a:hover {
    color: blue;
    cursor: pointer;
}
a {
    color: red;!important;
}
/*[data-toggle="collapse"]:after {*/
/*    display: inline-block;*/
/*    display: inline-block;*/
/*    font: normal normal normal 14px/1 FontAwesome;*/
/*    font-size: inherit;*/
/*    text-rendering: auto;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    content: "\f054";*/
/*    transform: rotate(90deg) ;*/
/*    transition: all linear 0.25s;*/
/*    float: right;*/
/*}*/
[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg) ;
}
/* The Close Button */
.close {
    /*position: absolute;*/
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*Admin all users page*/
.nflCC a, .mlb a, .nhl a, .pga a {
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.nflCC a {
    color: #4fc0d2;
}

.nflCC a:hover {
    color: #268695;
}

/* wrapper */
.wrapper {
    width: 100%;
    padding-bottom: 7px;
    background: linear-gradient(-45deg, #7061c7, #0070bd, #cc99b2);
    color: white;
    overflow: hidden;
    position: relative;
    border-radius: 0 15px 0 15px;
}

.btn-danger, .btn {
    padding: 4px 30px;
    color: #fff;
    background-color: #dc3545;
    border-radius: 15px;
    border: 4px solid #dc3545;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
}

.btn-danger:hover {
    color: #fff;
    background-color: palevioletred;
    border-color: #e83e8c;
}

/*Role drop down*/
.drop {
    background: linear-gradient(-45deg, #7061c7, #0070bd, #cc99b2);
    background-color: #cc99b2;
    color: white;
    border-radius: 0 15px 0 15px;
    padding: 7px 30px;
}

.rowCC ul li {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
}

/* rows */
.rowCC {
    /*padding: 20px 0;*/

    height: 35px;
    font-size: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.rowCC:hover {
    background: linear-gradient(-45deg, #7061c7, #0070bd, #cc99b2);
    height: 160px;
}

.titleCC {
    padding: 15px 0 5px 0;
    height: 45px;
    text-align: center;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.titleCC:hover {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
}

/*rows changer*/
.nflCC {
    border-left: 3px solid #1c616c;
    text-align: center;
    padding: 8px 0 0 0;
}

.nflCC:hover {
    border-left: 3px solid #4fc0d2;
}

/* more content */
ul.more-contentCC li {
    position: relative;
    top: 10px;
    font-size: 16px;
    margin: 0;
    padding: 5px 13px;
    display: inline;
    width: 100%;
    color: white;
}

#fs h4, #sec h4, #thr h4, #fr form, #fft form {
    display: inline;
    font-size: 15px;
    text-align: left;
}

/*SEARCH BAR*/
.searchCC {
    width: 35%;
    position: relative;
    display: flex;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: linear-gradient(-45deg, #7061c7, #cc99b2);
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px 0 15px 0;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    outline: none;
    color: black;
    border-radius: 15px 15px 0 0;
}

.searchTerm:focus {
    color: black;
}

/*DROPDOWNS*/
.nextEA {
    float: left;
}

.form-controlCC {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin: 20px 0;
}
/*Agent portal Page*/
.buttons{
    display: flex;
    justify-content: center;
}







