* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    background: #2c3e50;
}

#wrap {
    margin: 0 auto 30px;
}

#regbar {
    height: 1px;
}

#navthing {
    margin-left: 1px;
}

h2 {
    padding: 1px;
    color: #ecf0f1;
}

fieldset {
    border: none;
}

.login {
    position: relative;
    width: 150px;
    display: none;
}

.signUp {
    position: relative;
    width: 150px;
    display: none;
}

.arrow-up-login {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    left: 20%;
    position: absolute;
    top: -10px;
}

.arrow-up-signUp {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    left: 93%;
    position: absolute;
    top: -10px;
}

.formholder {
    background: #ecf0f1;
    width: 280px;
    border-radius: 5px;
    padding-top: 5px;
}

.formholder input[type="email"], .formholder input[type="password"], .formholder input[type="username"], .formholder input[type="fName"],
.formholder input[type="lName"] {
    padding: 7px 5px;
    margin: 3px 0;
    width: 99%;
    display: block;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.formholder input[type="email"]:focus, .formholder input[type="password"]:focus, .formholder input[type="username"]:focus,
.formholder input[type="fName"]:focus,
.formholder input[type="lName"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}

.formholder input[type="submit"] {
    background: #1abc9c;
    padding: 5px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.formholder input[type="submit"]:hover {
    background: #1bc6a4;
}

.randompad {
    padding: 10px;
}

.green {
    color: #1723b1;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

a:hover {
    color: #1723b1;
}