<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Create user</title>
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../css/test.css}" href="../static/css/test.css">


</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../static/images/webiz-logo.png" th:src="@{../images/webiz-logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin}">To Admin Portal</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/charts/chartNav}" class="nav-link">Statistics</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/searchUser}" class="nav-link">Search user</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/agent/manageInsurances}" class="nav-link">Insurances</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!--- Banner Hero section ------->
<section class="banner">
    <div class="container">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong>
            <p th:text="${success}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
            <strong>Fail!</strong>
            <p th:text="${error}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <form th:action="@{/admin/createUser}" th:object="${user}" method="post">
            <div class="container">
                <h1>Create New Technical User</h1>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="username">Username</label>
                        <input th:field="*{username}" type="text" class="form-control" placeholder="Enter username"
                               id="username" required minlength="4" maxlength="20" onblur="validateUsername()">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="password">Password</label>
                        <input th:field="*{password}" type="password" class="form-control" placeholder="Enter password"
                               id="password" required minlength="5" maxlength="20"
                               pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{5,20})">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="email">Email</label>
                        <input th:field="*{email}" type="text" class="form-control" placeholder="Enter email" id="email"
                               required onblur="validateEmail()">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="fName">First Name</label>
                        <input th:field="*{firstName}" type="text" class="form-control" placeholder="Enter first name"
                               id="fName" required minlength="2" maxlength="20">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="lName">Last Name</label>
                        <input th:field="*{lastName}" type="text" class="form-control" placeholder="Enter last name"
                               id="lName" required minlength="2" maxlength="20">
                    </div>
                </div>

                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="gridRadios1" th:field="*{admin}"
                                       th:value="false" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    Agent
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="gridRadios2" th:field="*{admin}"
                                       th:value="true">
                                <label class="form-check-label" for="gridRadios2">
                                    Admin
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div>
                        <input type="submit" value="Submit" class="btn btn-info"/>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../static/images/ground@-min.png" class="bottom-img"
         alt="">
</section>
<!--- Smooth Scroll js ---------->
<script type="text/javascript" th:src="@{../js/smooth-scroll.js}" src="../static/js/smooth-scroll.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script th:src="@{../js/test.js}" src="../static/js/test.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>
<script th:src="@{../js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>
<script th:src="@{../js/jquery.steps.js}" src="../static/js/jquery.steps.js"></script>
<script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
<script th:src="@{../js/username-email-unique-check.js}"
        src="../static/js/username-email-unique-check.js"></script>
<script>
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
</body>
</html>