<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Find user</title>
    <link rel="canonical" href="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/test.css}" href="../static/css/test.css">

</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../static/images/webiz-logo.png" th:src="@{../images/webiz-logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin}">To Admin Portal</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/charts/chartNav}" class="nav-link">Statistics</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/createUser}" class="nav-link">Create new user</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/agent/manageInsurances}" class="nav-link">Insurances</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<!--- Banner Hero section ------->
<section class="banner">
    <div class="container">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong>
            <p th:text="${success}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
            <strong>Fail!</strong>
            <p th:text="${error}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div>
            <form th:action="@{/admin/searchUser}" th:object="${searchUser}" method="post">
                <div class="searchCC nextEA">
                    <label class="sr-only" for="inlineFormInputName">Username</label>
                    <input th:field="*{username}" type="text" class="form-control searchTerm"
                           id="inlineFormInputName"
                           placeholder="Search by username">
                    <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
                </div>
                <div>
                    <div>
                        <label> </label>
                        <select th:field="*{role}" class="drop">
                            <option selected value="">Role</option>
                            <option value="ROLE_USER">Client</option>
                            <option value="ROLE_AGENT">Agent</option>
                            <option value="ROLE_ADMIN">Admin</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <section class="wrapper">
            <main class="rowCC titleCC">
                <ul>
                    <li style="width: 10%">ID</li>
                    <li style="width: 20%">Full Name</li>
                    <li style="width: 20%">Username</li>
                    <li style="width: 15%">Role</li>
                    <li style="width: 35%">Email</li>
                </ul>
            </main>
            <!-- Row 3 -->

            <article class="rowCC nflCC" th:each="user : ${users}">

                <ul>
                    <li style="width: 10%; padding: 0" th:text="${user.getId()}">1</li>
                    <li style="width: 20%; padding: 0"
                        th:text="${user.getFirstName() + ' ' + user.getLastName()}">
                        Yulian
                        Stefanov
                    </li>
                    <li style="width: 20%; padding: 0" th:text="${user.getUserAuthentication().getUsername()}">
                        Sofia, 16
                        str., No31
                    </li>
                    <li style="width: 15%; padding: 0"
                        th:text="${user.getUserAuthentication().getAuthoritiesList().get(0)}">555-555-555
                    </li>
                    <li style="width: 35%; padding: 0" th:text="${user.getEmail()}">test@gmail.com</li>
                </ul>
                <ul class="more-contentCC" id="fs">
                    <hr style="height: 2px">
                    <li>Registration Date:
                        <h4 th:text="${user.getRegistrationDate()}"> BMW
                        </h4>
                    </li>
                    <li>Last Updated:
                        <h4 th:text="${user.getUpdateDate()}"> BMW
                        </h4>
                    </li>
                    <li>Deactivation Date:
                        <h4 th:text="${user.getDeactivationDate()}"> BMW
                        </h4>
                    </li>
                    <ul class="more-contentCC" id="fr">
                        <li>
                            <form action="#"
                                  th:action="@{'/admin/giveRights/'+${user.getId()}}"
                                  method="post">
                                <button class="form-controlCC btn btn-danger" style="border-radius:15px 0 15px 0;"
                                        type="submit"
                                        th:if="${user.getUserAuthentication().getAuthoritiesList().get(0) == 'ROLE_AGENT'}">
                                    Make admin
                                </button>
                            </form>
                        </li>
                        <li>
                            <form action="#"
                                  th:action="@{'/admin/delete/'+${user.getId()}}"
                                  method="post">
                                <button class="form-controlCC btn btn-danger" style="border-radius:15px 0 15px 0;"
                                        type="submit">
                                    Delete
                                </button>
                            </form>
                        </li>
                    </ul>
                </ul>
            </article>
        </section>
    </div>
    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../static/images/ground@-min.png" class="bottom-img"
         alt="">
</section>

<!--- Smooth Scroll js ---------->
<script type="text/javascript" th:src="@{../js/smooth-scroll.js}" src="../static/js/smooth-scroll.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script th:src="@{/js/test.js}" src="../static/js/test.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>
<script th:src="@{../js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>
<script th:src="@{../js/jquery.steps.js}" src="../static/js/jquery.steps.js"></script>
<script th:src="@{../js/main.js}" src="../static/js/main.js"></script>

<script>
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
</body>
</html>