<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin portal</title>
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../css/test.css}" href="../static/css/test.css">
<style>
    /*!* The Close Button *!*/
    /*.close {*/
    /*    !*position: absolute;*!*/
    /*    top: 15px;*/
    /*    right: 35px;*/
    /*    color: #f1f1f1;*/
    /*    font-size: 40px;*/
    /*    font-weight: bold;*/
    /*    transition: 0.3s;*/
    /*}*/

    /*.close:hover,*/
    /*.close:focus {*/
    /*    color: #bbb;*/
    /*    text-decoration: none;*/
    /*    cursor: pointer;*/
    /*}*/
</style>

</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../static/images/webiz-logo.png" th:src="@{../images/webiz-logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/charts/chartNav}" class="nav-link">Statistics</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/createUser}" class="nav-link">Create new user</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/searchUser}" class="nav-link">Search user</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/agent/manageInsurances}" class="nav-link">Insurances</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!--- Banner Hero section ------->
<section class="banner">
    <div class="container">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong>
            <p th:text="${success}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
            <strong>Fail!</strong>
            <p th:text="${error}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p class="promo-title" th:text="${'Welcome to the Admin Portal!'}">Welcome to the Admin Portal!</p>
                <hr>
            </div>
            <div class="col-md-8">
                <p class="join-title" th:text="${'Update Criteria Range Table:'}">Update Criteria Range Table:</p>
                <hr>
            </div>
            <div class="col-md-6">
                <form method="POST" th:action="@{/upload-csv-file}" enctype="multipart/form-data">
                    <div class="form-group mt-3">
                        <label for="file">Select a CSV file</label>
                        <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                </form>
            </div>
        </div>
    </div>
    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../static/images/ground@-min.png" class="bottom-img"
         alt="">
</section>
<!--- Smooth Scroll js ---------->
<script type="text/javascript" th:src="@{../js/smooth-scroll.js}" src="../static/js/smooth-scroll.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script th:src="@{../js/test.js}" src="../static/js/test.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>
<script th:src="@{../js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>
<script th:src="@{../js/jquery.steps.js}" src="../static/js/jquery.steps.js"></script>
<script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
<script>
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
</body>
</html>