<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <title>Safety Car Index</title>

    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../css/test.css}" href="../static/css/test.css">
    <link rel="stylesheet" th:href="@{../css/nunito-font.css}" type="text/css" href="../static/css/nunito-font.css">
    <link rel="stylesheet" th:href="@{../fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}"
          type="text/css" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" th:href="@{../css/signUpInputValidation.css}"
          href="../static/css/signUpInputValidation.css"/>

    <!-- Main Style Css -->
    <link rel="stylesheet" th:href="@{../css/style2.css}" href="../static/css/style2.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../static/images/webiz-logo.png" th:src="@{../images/webiz-logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/admin}">To Admin Portal</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('AGENT')">
                    <a class="nav-link" th:href="@{/agent}">To Agent Portal</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('USER')">
                    <a th:href="@{/profile/myInsurances}" class="nav-link">My Insurances</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <div id="wrap">
                        <div id="regbar">
                            <div id="navthing">
                                <h2>
                                    <a th:onclick="modifyStateLogIn()" id="loginform">Login</a> |
                                    <a th:onclick="modifyStateSignUp()" id="signUpForm">Sign Up</a>
                                </h2>
                                <div class="login">
                                    <div class="arrow-up-login"></div>
                                    <div class="formholder">
                                        <div class="randompad">
                                            <form id="form_id" action="#" th:action="@{/authenticate}" method="post"
                                                  name="myform">
                                                <fieldset>
                                                    <div data-validate="Username is required">
                                                        <label name="username">Username</label>
                                                        <input class="form-control" type="text" name="username"
                                                               id="username2"
                                                               placeholder="Type your username" required/>
                                                    </div>
                                                    <div data-validate="Password is required">
                                                        <label name="password">Password</label>
                                                        <input class="form-control" type="password" name="password"
                                                               id="password"
                                                               placeholder="Type your password" required/>
                                                    </div>
                                                    <br/>
                                                    <div>
                                                        <input type="submit" value="Login" id="submit"/>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="signUp">
                                    <div class="arrow-up-signUp"></div>
                                    <div class="formholder">
                                        <div class="randompad">
                                            <form th:action="@{/signUp}" th:object="${user}"
                                                  method="post" id="myForm">
                                                <fieldset>
                                                    <div data-validate="Username is required">
                                                        <div id="usernameSignUp">
                                                            <div class="labelName" id="usernameText">
                                                                <label for="username">Username</label>
                                                                <div>
                                                                    <p>Length at least 4 characters and maximum of
                                                                        20</p>
                                                                </div>
                                                                <input class="form-control" type="text" name="username"
                                                                       id="username"
                                                                       placeholder="Type your username"
                                                                       required minlength="4" maxlength="20"
                                                                       th:field="*{username}"
                                                                       onblur="validateUsername()"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-validate="Password is required">
                                                        <div id="passwordSignUp">
                                                            <div class="labelName">
                                                                <label for="password">Password</label>
                                                                <div>
                                                                    <p>Must contain one digit from 0-9</p>
                                                                    <p>~~~</p>
                                                                    <p>Must contain one lowercase characters</p>
                                                                    <p>~~~</p>
                                                                    <p>Must contain one uppercase characters</p>
                                                                    <p>~~~</p>
                                                                    <p>Must contain one special symbols in the list
                                                                        "@#$%"</p>
                                                                    <p>~~~</p>
                                                                    <p>Length at least 5 characters and maximum of
                                                                        20</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input class="form-control" type="password" name="password"
                                                               th:field="*{password}"
                                                               placeholder="Type your password"
                                                               required minlength="5" maxlength="20"
                                                               pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{5,20})"/>
                                                    </div>
                                                    <div data-validate="First name is required">
                                                        <div id="fNameSignUp">
                                                            <div class="labelName">
                                                                <label>First Name</label>
                                                                <div>
                                                                    <p>Length at least 2 characters and maximum of
                                                                        20</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input class="form-control" type="text" name="fName"
                                                               th:field="*{firstName}"
                                                               placeholder="Type your first name"
                                                               required minlength="2" maxlength="20"/>
                                                    </div>
                                                    <div data-validate="Last name is required">
                                                        <div id="lNameSignUp">
                                                            <div class="labelName">
                                                                <label>Last Name</label>
                                                                <div>
                                                                    <p>Length at least 2 characters and maximum of
                                                                        20</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input class="form-control" type="text"
                                                               th:field="*{lastName}"
                                                               placeholder="Type your last name"
                                                               required minlength="2" maxlength="20"/>
                                                    </div>
                                                    <div data-validate="Email is required" id="emailText">
                                                        <div id="emailSignUp">
                                                            <div class="labelName" >
                                                                <label for="emailReg">Email</label>
                                                                <div>
                                                                    <p>Must contain '@' with valid domain!</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input class="form-control" type="email" id="emailReg"
                                                               name="emailReg"
                                                               th:field="*{email}" placeholder="Type your email"
                                                               required onblur="validateEmail()"/>
                                                    </div>
                                                    <br/>
                                                    <div>
                                                        <input type="submit" value="sign Up"/>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!--- Banner Hero section ------->
<section class="banner">
    <div class="container">

        <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong>
            <p th:text="${success}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
            <strong>Fail!</strong>
            <p th:text="${error}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div>
            <div class="wizard-v5-content">
                <div class="wizard-form">
                    <form class="form-register" th:action="@{/policies/submit}" th:object="${policyDto}"
                          id="form-register" action="/"
                          method="post">
                        <div id="form-total">
                            <!-- SECTION 1 -->

                            <h2 sec:authorize="isAuthenticated()">
                                <span class="step-icon"><i class="zmdi zmdi-check"></i></span>
                                <span class="step-text">Calculate Insurance</span>
                            </h2>

                            <section>
                                <h2 class="car-insurance-header">Calculate Insurance</h2>
                                <div class="inner">
                                    <div class="form-row">
                                        <!--                                        CAR BRAND-->
                                        <div class="form-holder">
                                            <label>Car brand:</label>
                                            <select required th:field="*{carBrandId}" class="form-control"
                                                    id="select_brand">
                                                <option value="" th:text="'--  Select car brand  --'"></option>
                                                <option th:each="brand : ${brands}" th:value="${brand.id}"
                                                        th:text="${brand.name}">Brands
                                                </option>
                                                <option th:each="brand : ${brands}" th:value="${brand.id}"
                                                        th:text="${brand.name}">Brands
                                                </option>
                                            </select>
                                        </div>
                                        <!--                                        CAR MODEL-->
                                        <div class="form-holder">
                                            <label>Car model:</label>
                                            <select required th:field="*{carModelId}" id="select_model"
                                                    class="form-control">
                                                <option value="" th:text="'--  Select car model  --'"></option>
                                                <option th:unless="${policyDto.carModelId==null}"
                                                        th:value="${policyDto.carModelId}"
                                                        th:text="${policyDto.carModelName}">- Select car model -
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <!--                                    CAR REG DATE-->
                                    <div class="form-holder">
                                        <label>Car first registration:</label>
                                        <div class="form-group"> <!-- Date input -->
                                            <input required th:field="${policyDto.registrationDate}"
                                                   class="form-control"
                                                   id="reg-date"
                                                   name="date"
                                                   placeholder="Input car first registration - YYYY-MM-DD"
                                                   type="date"/>
                                        </div>
                                    </div>
                                    <!--                                    CUBIC CAPACITY-->
                                    <div class="form-holder">
                                        <label>Cubic Capacity:</label>
                                        <div class="form-group">
                                            <input required th:field="*{cubicCapacity}" class="form-control"
                                                   id="cubic-capacity"
                                                   name="date"
                                                   placeholder="Input car Cubic Capacity"
                                                   type="number" max="9999999"/>
                                        </div>
                                    </div>

                                    <!--                                    DRIVER AGE-->
                                    <div class="form-row">
                                        <div class="form-holder">
                                            <label>Select drivers age:</label>
                                            <select required th:field="*{driverAge}" class="form-control"
                                                    id="driver-age">
                                                <option value="">- Select drivers age -</option>
                                                <option th:each="year : ${#numbers.sequence(18, 99)}" th:value="${year}"
                                                        th:text="${year}">Years
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <!--                                    HAS ACCIDENTS-->
                                    <div class="form-row">
                                        <div id="radio">
                                            <label>Does the driver has previous car accidents: </label>
                                            <select th:field="*{hasAccidents}" class="zmdi-dropbox"
                                                    id="driver-accident">
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <!--                                    CALCULATE Insurance BUTTON-->
                                    <div class="form-row calculate-premium-button">
                                        <button type="submit" class="btn btn-md btn-success " id="btnCalculate"
                                        >Calculate insurance
                                        </button>
                                    </div>
                                    <br>
                                    <div id="reloadable">
                                    <p class="car-insurance-header" id='calc' th:if="${policyDto.premium}"
                                       th:text="'Your calculated premium is: ' + ${policyDto.getFormattedPremium()} + 'lv.'"></p></div>
                                    <div style="display: none" class="form-row calculate-premium-button" id="loginToContinue">
                                        <a class="nav-link" sec:authorize="!isAuthenticated()" style="color: #ff0000"
                                           th:onclick="modifyStateLogIn()" id="loginform2">Login to continue...</a>
                                    </div>

                                </div>
                            </section>


                            <!-- SECTION 2 -->
                            <h2 sec:authorize="isAuthenticated()">
                                <span class="step-icon"><i class="zmdi zmdi-check"></i></span>
                                <span class="step-text">Additional Information</span>
                            </h2>
                            <section sec:authorize="isAuthenticated()">
                                <div class="inner">

                                    <!--                                 START DATE-->
                                    <div class="form-holder">
                                        <label>Start date:</label>
                                        <div class="form-group"> <!-- Date input -->
                                            <input th:field="${policyDto.startDate}" class="form-control"
                                                   id="star-date"
                                                   name="start-date"
                                                   placeholder="Input start date - YYYY-MM-DD"
                                                   type="date"/>
                                        </div>
                                    </div>
                                    <!--
                                                       CAR COLOR-->

                                    <div class="form-holder">
                                        <label>Car colour:</label>
                                        <select th:field="*{carColourId}" class="form-control" id="select_colour">
                                            <option value="">- Select car colour -</option>
                                            <option th:each="colour : ${colours}" th:value="${colour.id}"
                                                    th:text="${colour.colour}">Brands
                                            </option>
                                        </select>
                                    </div>

                                    <br>
                                    <!--EMAIL-->

                                    <div class="form-holder">
                                        <label for="email">Email Address:</label>
                                        <input type="email" th:field="${policyDto.email}" name="email"
                                               class="form-control" id="email"
                                               placeholder="ex: example@email.com"
                                               pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">

                                    </div>
                                    <br>
                                    <!--                                    PHONE-->
                                    <div class="form-holder">
                                        <label for="phone">Phone Number:</label>
                                        <input th:field="${policyDto.phone}" type="text"
                                               placeholder="Input phone number"
                                               class="form-control " id="phone"
                                               name="account_name">
                                    </div>
                                    <br>
                                    <!--ADDRESS-->
                                    <div class="form-holder">
                                        <label for="address">Address:</label>
                                        <div class="form-group">
                                            <input th:field="${policyDto.address}" type="text"
                                                   placeholder="Input address"
                                                   class="form-control " id="address"
                                                   name="phone-number">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row">
                                        <label for="picture">Add vehicle registration certificate:</label>
                                        <div class="form-holder ">

                                            <input type="file"
                                                   class="address" id="picture"
                                                   name="account_number">
                                        </div>
                                    </div>
                                    <select hidden id="pictureUrl" th:field="*{vehicleRegCertificatePic}">
                                    </select>
                                    <br>

                                    <p class="car-insurance-header" th:if="${policyDto.premium != null}"
                                       th:text="'Your calculated premium is: ' + ${policyDto.getFormattedPremium()} + 'lv.'"></p>

                                </div>
                            </section>
                            <!-- SECTION 3 -->
                            <h2 sec:authorize="isAuthenticated()">
                                <span class="step-icon"><i class="zmdi zmdi-check"></i></span>
                                <span class="step-text">Confirm Details</span>
                            </h2>
                            <section sec:authorize="isAuthenticated()">
                                <div class="inner">
                                    <div class="form-row table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr class="space-row">
                                                <th>Email Address:</th>
                                                <td id="email-val"></td>
                                            </tr>
                                            <tr class="space-row">
                                                <th>Phone Number:</th>
                                                <td id="phone-val"></td>
                                            </tr>
                                            <tr class="space-row">
                                                <th>Address Location:</th>
                                                <td id="address-val"></td>
                                            </tr>
                                            <tr class="space-row">
                                                <th>Car Registration Date:</th>
                                                <td id="car-reg-val"></td>
                                            </tr>
                                            <tr class="space-row">
                                                <th>Cubic Capacity:</th>
                                                <td id="cc-val"></td>
                                            </tr>

                                            <tr class="space-row">
                                                <th>Driver Age:</th>
                                                <td id="age-val"></td>
                                            </tr>
                                            <tr class="space-row">
                                                <th>Driver Accidents:</th>
                                                <td id="accidents-val"></td>
                                            </tr>
                                            <tr  class="space-row">
                                                <th>Calculated premium:</th>
                                                <td id="calculatedPremium-val"></td>
                                            </tr>
                                            <tr  class="space-row">
                                                <th>Picture URL:</th>
                                                <td id="pic-val"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <!--                                    CALCULATE Insurance BUTTON-->
                                    <div class="form-row calculate-premium-button">
                                        <button type="submit" class="btn btn-lg btn-danger" formnovalidate
                                        >Send Insurance Policy Request
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../static/images/ground@-min.png" class="bottom-img" alt="">
</section>

<!--- Services ---->
<section id="services">
    <div class="container text-center">
        <h3 class="title text-center">SERVICES</h3>
        <div class="row text-center">
            <div class="col-md-4 services">
                <img th:src="@{../svg/undraw_website_setup_5hr2.svg}" src="../static/svg/undraw_website_setup_5hr2.svg"
                     class="service-img" alt="">
                <h4>Landing Page Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 services">
                <img th:src="@{../svg/branding.svg}" src="../static/svg/branding.svg" class="service-img" alt="">
                <h4>Car insurances</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 services">
                <img th:src="@{../svg/ads.svg}" src="../static/svg/ads.svg" class="service-img" alt="">
                <h4>Google Ads</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 services">
                <img th:src="@{../svg/undraw_Savings_dwkw.svg}" src="../static/svg/undraw_Savings_dwkw.svg"
                     class="service-img" alt="">
                <h4>PPC</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 services">
                <img th:src="@{../svg/social.svg}" src="../static/svg/social.svg" class="service-img" alt="">
                <h4>Social Media</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-md-4 services">
                <img th:src="@{../svg/undraw_wireframing_nxyi.svg}" src="../static/svg/undraw_wireframing_nxyi.svg"
                     class="service-img" alt="">
                <h4>SEO</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <button type="button" class="btn btn-primary" name="button">Find Out More</button>
    </div>
</section>
<!--- About Section ------>
<section id="about">
    <div class="container">
        <h3 class="title text-center">ABOUT US</h3>
        <div class="row">
            <div class="col-md-6 about">
                <p class="about-title">Odio sed id eos et laboriosam consequatur eos earum soluta.</p>
                <ul>
                    <li>Sint aliquam consequatur ex ex labore.</li>
                    <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li>Aspernatur consectetur omnis numquam quaerat.</li>
                    <li>Et vel ut quidem alias veritatis repudiandae ut fugit.</li>
                    <li>Fugit ut maxime incidunt accusantium totam repellendus eum error.</li>
                    <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img th:src="@{../svg/undraw_mobile_marketing_iqbr.svg}"
                     src="../static/svg/undraw_mobile_marketing_iqbr.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!---  Testimonials Section  --->
<section id="testimonials">
    <div class="container">
        <h3 class="title text-center">TESTIMONIALS</h3>
        <div class="row offset-1">
            <div class="col-md-5 testimonials">
                <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                </p>
                <img
                        src="https://i.ibb.co/1X5b0G9/pic.jpg" alt="">
                <p class="user-details"><b>Yoan Kanchev</b><br>Founder of SC</p>
            </div>
            <div class="col-md-5 testimonials">
                <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                </p>
                <img src="https://i.ibb.co/jy2Z7Lm/20201016-144812-Copy-2.jpg" alt="">
                <p class="user-details"><b>Yulian Stefanov</b><br>Founder of SC</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer ------>
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-box">
                <img th:src="@{../images/webiz-logo.png}" src="../static/images/webiz-logo.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4 footer-box">
                <p id="contact"><b>OUR OFFICE</b></p>
                <p><i class="fa fa-map-marker"></i>Holloway Road, London</p>
                <p><i class="fa fa-phone"></i>+44 074 675 86 965</p>
                <p><i class="fa fa-envelope-o"></i>info@examle.com</p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>SUBSCRIBE NEWSLETTER</b></p>
                <input type="email" class="form-control" placeholder="Your Email">
                <button type="button" class="btn btn-primary" name="button">Subscribe</button>

                <div id="social">
                    <p>Find Us On Social Media</p>
                    <div class="social-icons">
                        <a th:src="@{../svg/facebook-logo.svg}" href="#" class="svg-icons"><img
                                src="../static/svg/facebook-logo.svg" alt=""></a>
                        <a th:src="@{../svg/instagram_.svg}" href="#" class="svg-icons"><img
                                src="../static/svg/instagram_.svg" alt=""></a>
                        <a th:src="@{../svg/twitter-logo.svg}" href="#" class="svg-icons"><img
                                src="../static/svg/twitter-logo.svg" alt=""></a>
                        <a th:src="@{../svg/whatsapp.svg}" href="#" class="svg-icons"><img
                                src="../static/svg/whatsapp.svg"
                                alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <p class="copyright">Copyright © 2020. All rights reserved | Designed by <a
                        th:href="@{https://www.salvatoremandis.it/index-eng.html}"
                        href="https://www.salvatoremandis.it/index-eng.html">Salvatore Mandis</a></p>
            </div>
            <div class="col-md-6 text-right">
                <p class="copyright">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Cookie Policy</a>
                    <a href="#">Terms & Conditions</a>
                </p>
            </div>
        </div>
        <br>
    </div>
</section>
<!--- Smooth Scroll js ---------->
<script type="text/javascript" th:src="@{../js/smooth-scroll.js}" src="../static/js/smooth-scroll.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script th:src="@{../js/test.js}" src="../static/js/test.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>
<script th:src="@{../js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>
<script th:src="@{../js/jquery.steps.js}" src="../static/js/jquery.steps.js"></script>
<script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
<script th:src="@{../js/calculate-test-policy.js}" th:inline="javascript" src="../static/js/main.js"></script>
<script th:src="@{../js/upload-pic-imgur.js}" th:inline="javascript" src="../static/js/main.js"></script>
<script th:src="@{../js/username-email-unique-check.js}"
        src="../static/js/username-email-unique-check.js"></script>

</body>
</html>
