<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Manage insurances</title>
    <meta name="description" content="">
    <link rel="canonical" href="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/test.css}" href="../static/css/test.css">
    <link rel="stylesheet" th:href="@{/css/manageInsurances.css}" href="../static/css/manageInsurances.css">
</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../static/images/webiz-logo.png" th:src="@{/images/webiz-logo.png}">
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('AGENT')">
                    <a th:href="@{/agent}" class="nav-link">To Agent Portal</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin}" class="nav-link">To Admin Portal</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<section class="banner">
    <div class="container">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong>
            <p th:text="${success}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
            <strong>Fail!</strong>
            <p th:text="${error}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div>
            <form th:action="@{/agent/search}" th:object="${search}" method="post">
                <div class="searchCC nextEA">
                    <label class="sr-only" for="inlineFormInputName">Username</label>
                    <input th:field="*{username}" type="text" class="form-control searchTerm"
                           id="inlineFormInputName"
                           placeholder="Search by username">
                    <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>

                </div>
                <div class="dropDownMen">
                    <div class="nextEA">
                        <label> </label>
                        <select th:field="*{statusID}" class="btn btn-selectT" id="status-select">
                            <option selected value="-1">Status
                            </option>
                            <option th:each="status : ${statuses}" th:value="${status.getId()}"
                                    th:text="${status.getStatus()}">
                            </option>

                        </select>
                    </div>
                    <div class="nextEA">
                        <label> </label>
                        <select th:field="*{sortBy}" class="btn btn-selectT" id="sortBy-select">
                            <option selected value="-1">Sort by</option>
                            <option th:value="id">Policy ID</option>
                            <option th:value="submittedDate">Submitted Date</option>
                            <option th:value="totalPremium">Total Price</option>
                        </select>
                    </div>
                    <div class="nextEA">
                        <label> </label>
                        <select th:field="*{orderAsc}" class="btn btn-selectT" id="orderBy-select">
                            <option th:value="true">Ascending</option>
                            <option selected th:value="false">Descending</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <section class="wrapper">
            <!-- Row title -->
            <main class="rowCC titleCC">
                <ul>
                    <li style="width: 10%">ID</li>
                    <li style="width: 20%">Full Name</li>
                    <li style="width: 29%">Address</li>
                    <li style="width: 12%">Phone</li>
                    <li style="width: 29%">Email</li>
                </ul>
            </main>
            <!-- Row 3 -->
            <article class="rowCC nflCC" th:each="policy : ${userPolicies}">
                <ul>
                    <li style="width: 10%; padding: 0" th:text="${policy.getId()}">1</li>
                    <li style="width: 20%; padding: 0"
                        th:text="${policy.getCreator().getFirstName() + ' ' + policy.getCreator().getLastName()}">
                        Yulian
                        Stefanov
                    </li>
                    <li style="width: 29%; padding: 0" th:text="${policy.getAddress()}">Sofia, 16 str., No31
                    </li>
                    <li style="width: 12%; padding: 0" th:text="${policy.getPhone()}">555-555-555</li>
                    <li style="width: 29%; padding: 0" th:text="${policy.getEmail()}">test@gmail.com</li>
                </ul>
                <ul class="more-contentCC" id="fs">
                    <li><b>BRAND:</b>
                        <h4 th:text="${policy.getCar().getModel().getBrand().getName()}"> BMW
                        </h4>
                    </li>
                    <li><b>MODEL:</b>
                        <h4 th:text="${policy.getCar().getModel().getName()}"> BMW
                        </h4>
                    </li>
                    <li><b>COLOR:</b>
                        <h4 th:text="${policy.getCar().getColour().getColour()}"> BMW
                        </h4>
                    </li>
                    <li><b>START DATE:</b>
                        <h4 th:text="${policy.getStartDate()}"> BMW
                        </h4>
                    </li>
                    <li><b>SUBMITTED ON:</b>
                        <h4 th:text="${policy.getSubmittedDate()}"> BMW
                        </h4>
                    </li>
                    <li><b>STATUS:</b>
                        <h4 th:text="${policy.getStatus().getStatus()}"> BMW
                        </h4>
                    </li>
                </ul>
                <ul class="more-contentCC" id="sec">
                    <li><b>LAST UPDATE:</b>
                        <h4 th:text="${policy.getApprovedDate()}"> BMW
                        </h4>
                    </li>
                    <li><b>BASE AMOUNT:</b>
                        <h4 th:text="${policy.getBaseAmount()}"> BMW
                        </h4>
                    </li>
                    <li><b>NET:</b>
                        <h4 th:text="${policy.getNetPremium()}"> BMW
                        </h4>
                    </li>
                    <li><b>GROSS:</b>
                        <h4 th:text="${policy.getTotalPremium()}"> BMW
                        </h4>
                    </li>
                    <li><b>DRIVER AGE:</b>
                        <h4 th:text="${policy.getDriverAge()}"> BMW
                        </h4>
                    </li>
                    <li><b>ACCIDENTS:</b>
                        <h4 th:text="${policy.isHasAccidents()}"> BMW
                        </h4>
                    </li>
                </ul>
                <ul class="more-contentCC" id="thr">
                    <li><b>APPLIED DOCUMENT:</b>
                        <a th:if="${policy.vehicleRegCertificatePic}" th:text="${policy.vehicleRegCertificatePic}"
                           th:href="${policy.vehicleRegCertificatePic}" target="_blank"></a>
<!--                        <img id="myImg" th:attr="value = ${policy.id}"-->
<!--                             th:src="${policy.getVehicleRegCertificatePic()}" alt="Snow"-->
<!--                             style="width:100%;max-width:300px">-->
                    </li>
                </ul>
                <ul class="more-contentCC" id="fr" th:if="${policy.getStatus().getId()==1}">
                    <li>
                        <form action="#"
                              th:action="@{'/agent/approvePolicy/'+${policy.getId()}}"
                              method="post">
                            <button class="form-controlCC btn btn-success" type="submit">
                                Approve
                            </button>
                        </form>
                    </li>
                    <li>
                        <form action="#"
                              th:action="@{'/agent/rejectPolicy/'+${policy.getId()}}"
                              method="post">
                            <button class="form-controlCC btn btn-danger" type="submit">
                                Reject
                            </button>
                        </form>
                    </li>
                    <li>
                        <form action="#"
                              th:action="@{'/agent/cancelPolicy/'+${policy.getId()}}"
                              method="post">
                            <button class="form-controlCC secon" type="submit">
                                Cancel
                            </button>
                        </form>
                    </li>
                </ul>
                <ul class="more-contentCC" id="fft" sec:authorize="hasRole('ADMIN')"
                    th:unless="${policy.getStatus().getId()==1}">
                    <li>
                        <form action="#"
                              th:action="@{'/admin/revertPolicy/'+${policy.getId()}}"
                              method="post">
                            <button class="form-controlCC btn btn-info" type="submit">
                                Revert
                            </button>
                        </form>
                    </li>
                </ul>
            </article>
        </section>
    </div>

    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../static/images/ground@-min.png" class="bottom-img"
         alt="">
</section>
<!--- Smooth Scroll js ---------->
<script type="text/javascript" th:src="@{../js/smooth-scroll.js}" src="../static/js/smooth-scroll.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script th:src="@{../js/test.js}" src="../static/js/test.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>
<script th:src="@{../js/jquery-3.3.1.min.js}" src="../static/js/jquery-3.3.1.min.js"></script>
<script th:src="@{../js/jquery.steps.js}" src="../static/js/jquery.steps.js"></script>
<script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
<script>
    // Get the modal
    const modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    const img = $("#myImg").value();
    const modalImg = $("#img01").value();
    const captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
</body>
</html>