<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <title>My Insurances</title>
    <link rel="canonical" href="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../css/test.css}" href="../static/css/test.css">
    <link rel="stylesheet" th:href="@{../css/myInsurances.css}" href="../static/css/myInsurances.css">

</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../static/images/webiz-logo.png" th:src="@{/images/webiz-logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!--- Banner Hero section ------->
<section class="banner">
    <div class="container">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong>
            <p th:text="${success}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
            <strong>Fail!</strong>
            <p th:text="${error}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div th:if="${userPolicies.isEmpty()}">
                    <p class="promo-title"
                       th:text="${'Your insurance history list is empty!'}">Something
                    </p>
                </div>
                <div th:unless="${userPolicies.isEmpty()}">
                    <h2 class=""
                       th:text="${'Hi, ' + currentUser.getFirstName() + '. Here is your insurance history:'}">
                    </h2>
                </div>
            </div>
            <div th:each="policy : ${userPolicies}">
                <form th:action="@{'/policies/'+${policy.id}+'/update'}" th:object="${policyDto}" method="post">
                    <div class="bs-example">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="heading">
                                    <h3 class="mb-0">
                                        <button type="button" class="btn btn-link" data-toggle="collapse"
                                                th:attrappend="data-target=${policy.id}" data-target="#collapseOne"
                                        >
                                            <h4 th:text="${ policy.getCar().getModel().getBrand().getName().toUpperCase()+' --  '+policy.getCar().getModel().getName()+'   '}">
                                                What is HTML?</h4></button>
                                    </h3>
                                    <h5 th:text="${policy.status.status}" class="mb-0" id="status">Status
                                    </h5>
                                </div>
                                <div th:attrappend="id=${policy.id}" id="collapseOne" class="collapse"
                                     aria-labelledby="headingOne"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">E-mail</div>
                                            </div>
                                            <input type="email" class="form-control" th:value="${policy.email} "
                                                   id="email" name="email">
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Address</div>
                                            </div>
                                            <input type="address" class="form-control" th:value="${policy.address} "
                                                   id="address" name="address">
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Phone</div>
                                            </div>
                                            <input type="text" class="form-control" th:value="${policy.phone} "
                                                   id="phone" name="phone">
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Car Colour</div>
                                            </div>
                                            <div type="text" class="form-control" th:text="${policy.car.colour.colour} "
                                            ></div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Vehicle Registration Certificate</div>
                                            </div>
                                            <a style="color: grey" th:text="${policy.vehicleRegCertificatePic}"
                                               th:href="${policy.vehicleRegCertificatePic}" target="_blank"
                                               type="date-time" class="form-control underline-l"
                                            >Test</a></div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Insurance Amount</div>
                                            </div>
                                            <div type="date-time" class="form-control"
                                                 th:text="${policy.getTotalPremium()} +' lv.'"
                                            ></div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Requested start date</div>
                                            </div>
                                            <div type="date" class="form-control" th:text="${policy.startDate} "
                                            ></div>
                                        </div>
                                        <div class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Submitted date</div>
                                            </div>
                                            <div type="date" class="form-control" th:text="${policy.submittedDate} "
                                            ></div>
                                        </div>
                                        <div th:if="${policy.approvedDate}" class="input-group mb-2">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Approved date</div>
                                            </div>
                                            <div type="date" class="form-control" th:text="${policy.approvedDate} "
                                            ></div>
                                        </div>

                                        <div class="input-group mb-2 buttons">
                                            <div class="attribute" th:if="${policy.status.status=='Pending'}">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                            <br/>
                                            <div class="attribute" th:if="${policy.status.status=='Pending'}">
                                                <form action="#"
                                                      method="post">
                                                    <button th:formaction="@{'/profile/myInsurances/cancelPolicy/'+${policy.getId()}}"
                                                            type="submit" class="btn btn-danger">Withdraw request
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <div th:attr="value = ${policy.id}" id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01" th:attr="value = ${policy.id}">
                    <div id="caption"></div>
                </div>
            </div>
        </div>
    </div>
    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../static/images/ground@-min.png" class="bottom-img"
         alt="">
</section>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = $("#myImg").value();
    var modalImg = $("#img01").value();
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>

</body>
</html>