<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profile</title>
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../css/test.css}" href="../static/css/test.css">
</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../static/images/webiz-logo.png" th:src="@{/images/webiz-logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/}" class="nav-link">Home</a>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/profile/changes}" class="nav-link">Profile changes</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!--- Banner Hero section ------->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="promo-title" th:text="${'Welcome back, ' + currentUser.getFirstName()}">Your Digital
                    Agency
                </p>
            </div>
        </div>
    </div>
    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../static/images/ground@-min.png" class="bottom-img"
         alt="">
</section>

</body>
</html>