<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profile Changes</title>
    <link rel="canonical" href="https://www.nameagency.com">
    <meta property="og:url" content="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../css/test.css}" href="../static/css/test.css">
    <link rel="stylesheet" th:href="@{../css/test.css}" href="../static/css/test.css">
    <script th:src="@{../js/test.js}" src="../static/js/test.js"></script>
<style>

    #passwordSignUp label, #fNameSignUp label, #lNameSignUp label, #emailSignUp label {
        text-decoration: none;
    }

    #passwordSignUp label:hover, #fNameSignUp label:hover, #lNameSignUp label:hover, #emailSignUp label:hover {
        color: #ffb280;
    }

    #passwordSignUp label, #fNameSignUp label, #lNameSignUp label, #emailSignUp label {
        display: inline-block;
    }

    .labelName {
        position: relative;
    }

    .labelName div {
        /*visiblity: hidden; */

        display: none;
        position: absolute;
        top: 0;
        left: 22%;
        margin-top: -23px; /* approx adjustment for arrow */
        margin-left: 25px; /* approx adjustment for arrow */
    }

    .labelName label:hover + div {
        cursor: pointer;
        display: block;
        /*visibility: visible; */
        width: 180px;
        line-height: 20px;
        padding: 8px;
        font-size: 14px;
        text-align: center;
        z-index: 999;
        color: rgb(113, 157, 171);
        background: rgb(255, 255, 255);
        border: 4px solid rgb(255, 255, 255);
        border-radius: 5px;
        text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
        box-shadow: #333 -4px 4px 16px 2px;
        -webkit-transition: opacity 100ms ease-in;
        -o-transition: opacity 100ms ease-in;
        -moz-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
        pointer-events: none;
    }

    .labelName div:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent #FFFFFF transparent transparent;
        top: 22px;
        left: -23px;
    }
</style>
</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../static/images/webiz-logo.png" th:src="@{/images/webiz-logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a th:href="@{/profile}" class="nav-link">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!--- Banner Hero section ------->
<section class="banner">
    <div class="container">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong>
            <p th:text="${success}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
            <strong>Fail!</strong>
            <p th:text="${error}">
                Your successful policy upload.
            </p>
            <button th:type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <form action="#" th:action="@{'/profile/changes'}" th:object="${currentUser}" method="post">
            <h1>Submit your changes here</h1>
            <hr>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="fName">First Name</label>
                    <input th:field="*{firstName}" th:value="${currentUser.getFirstName()}" type="text"
                           class="form-control" placeholder="First name. ."
                           id="fName" name="fName" required minlength="2" maxlength="20">
                </div>
                <div class="form-group col-md-3">
                    <label for="lName">Last Name</label>
                    <input th:field="*{lastName}" th:value="${currentUser.getLastName()}" type="text"
                           class="form-control" placeholder="Last name. ."
                           id="lName" name="lName" required minlength="2" maxlength="20">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <div id="emailSignUp">
                        <div class="labelName">
                            <label for="emailReg">Email</label>
                            <div>
                                <p>Must contain '@' with valid domain!</p>
                                <p>~~~</p>
                                <p>Double click on field to validate your unique
                                    email</p>
                            </div>
                        </div>
                    </div>
                    <input th:field="*{email}" th:value="${currentUser.getEmail()}" type="text"
                           class="form-control" placeholder="Email. ."
                           id="emailReg" name="emailReg" required ondblclick="validateEmail()"/>
                </div>
                <div class="form-group col-md-3">
                    <div id="passwordSignUp">
                        <div class="labelName">
                            <label for="password">Password</label>
                            <div>
                                <p>Must contain one digit from 0-9</p>
                                <p>~~~</p>
                                <p>Must contain one lowercase characters</p>
                                <p>~~~</p>
                                <p>Must contain one uppercase characters</p>
                                <p>~~~</p>
                                <p>Must contain one special symbols in the list
                                    "@#$%"</p>
                                <p>~~~</p>
                                <p>Length at least 5 characters and maximum of
                                    20</p>
                            </div>
                        </div>
                    </div>
                    <input type="password" th:object="${user}" th:field="*{password}"
                           class="form-control" placeholder="Password. ."
                           id="password" name="password" minlength="5" maxlength="20"
                           pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{5,20})">
                </div>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Change"/>
            </div>
        </form>
    </div>
    <div class="container" sec:authorize="hasRole('USER')">
        <br/>
        <form th:action="@{/profile/delete}" method="post">
            <input class="btn btn-danger" type="submit" value="Delete profile"/>
        </form>
    </div>

    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../static/images/ground@-min.png" class="bottom-img"
         alt="">
</section>
<script>
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>

<script th:src="@{../js/username-email-unique-check.js}"
        src="../static/js/username-email-unique-check.js"></script>
</body>
</html>