<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Statistics</title>
    <link rel="canonical" href="https://www.nameagency.com">
    <link rel="stylesheet" th:href="@{/../css/style.css}" href="../../static/css/style.css">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/../css/test.css}" href="../../static/css/test.css">
    <link rel="stylesheet" th:href="@{/../css/chartRepresentationDropdown.css}" href="../../static/css/chartRepresentationDropdown.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<!-- Navbar Menu  ---->
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <img src="../../static/images/webiz-logo.png" th:src="@{/images/webiz-logo.png}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/admin}" class="nav-link">To Admin Portal</a>
                </li>
                <li class="nav-item dropdown112" sec:authorize="hasRole('ADMIN')">
                    <button class="dropbtn112 ">Representation
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content112">
                        <a th:href="@{/charts/chartNav}">Navigation menu</a>
                        <a th:href="@{/charts/columnChart}">Column Chart</a>
                        <a th:href="@{/charts/pieChart}">Pie Chart</a>
                        <a th:href="@{/charts/donutChart}">Donut Chart</a>
                        <a th:href="@{/charts/complexLineChart}">Complex Line Chart</a>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<section class="banner">
    <div class="container">
        <h2 style="text-align: center">Safety Car Statistics</h2>
        <h4 style="text-align: center">Line Chart</h4>
        <br/>
        <div align="center">
        </div>
        <br/>
        <br/>
        <br/>
        <div id="categoryFilter_div"></div>
        <div id="chart_div"></div>
    </div>
    <!--- Background wave Hero ---->
    <img th:src="@{../images/ground@-min.png}" src="../../static/images/ground@-min.png" class="bottom-img"
         alt="">
</section>
<!--- Smooth Scroll js ---------->
<script type="text/javascript" th:src="@{/../js/smooth-scroll.js}" src="../../static/js/smooth-scroll.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"
        src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script th:src="@{/../js/test.js}" src="../../static/js/test.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>
<script th:src="@{/../js/jquery-3.3.1.min.js}" src="../../static/js/jquery-3.3.1.min.js"></script>
<script th:src="@{/../js/jquery.steps.js}" src="../../static/js/jquery.steps.js"></script>
<script th:src="@{/../js/main.js}" src="../../static/js/main.js"></script>
<script th:src="@{/../js/chartsVisualization/lineChart.js}" src="../../static/js/chartsVisualization/lineChart.js"></script>
</body>
</html>